/* CSS for Navigation Bar */
/* Adds colour to the current active link */
.navflex li.active {
    background-color: #a6a6a6;
}

/* Creates a flex box encasing all the elements within */
.navflex ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navflex {
    background-color:  #ffdd79;
    width: 100%;
}

.navflex li:hover{
    background-color: #fff0a3;
}

.navflex li{
    flex:4;
    text-align: center;
}

.navflex a{
    font-size: 2em;
    font-family: fantasy;
    text-decoration: none;
    padding: 0.8em 0.5em;
    display: inline-block;
    color: #333333;
}

/* Query which is applied for users with a screen smaller than 480px */
@media screen and (max-width:480px)
    {
    .navflex ul {
        flex-direction: column;
        }
        .navflex li {
        text-align: left;
        }
    }        
    #H1 {
        text-align: center;
        font-family: 'Segoe UI', 'Open Sans';
    }

    #H2,
    H3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    header {
        background-color: #ffd866;
        padding: 15px;
    }
   

body {
    text-align: center;
    background-color: lightyellow;
}    


footer {
    background-color: #dfe3ee;
    padding: 15px;
}



legend {
    font-family: fantasy;
    font-size: 3em;
    text-align: center;
    background-color: #fbd06a;
    box-shadow: 0.1em 0.1em gray;
    padding:0.3em;
}


fieldset {
    background-color: whitesmoke;
  
}

input[type="text"]  {
    height: 1.5em;
    width: 15%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
input[list="connection"], input[type="subject"]{
    width: 30%;
    height: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

